---
import PageLayout from '../layouts/PageLayout.astro';
import Input from '../components/global/Input.astro';
---

<PageLayout title={'Contact Us'} image='/favicon.png' classes={['contact-us']}>
	<section>
		<div class='container'>
			<div id='contactForm'>
				<form
					name='contact'
					method='POST'
					action='/contact-us?submit=success'
					data-netlify='true'
					netlify-honeypot='first-name'>
					<Input
						classes={['screen-reader-text']}
						id='first-name'
						label="Don't fill this out if you're human"
					/>
					<div class='form-row'>
						<Input id='name' label='Name' wrap required />
						<Input
							type='email'
							id='email'
							label='Email'
							wrap
							required
						/>
						<Input id='organisation' label='Organisation' wrap />
					</div>
					<div class='form-row'>
						<Input
							type='select'
							id='regarding'
							label='What is this Regarding?'
							options={[
								'Collaboration',
								'Feedback',
								'Work Opportunity',
								'Donation',
								'General Enquiry',
								'Other',
							]}
						/>
						<Input
							type='select'
							id='source'
							label='How did you hear about us?'
							options={[
								'Social Media',
								'Search Engine',
								'Friends / Family',
								'Another Organisation',
								'Other Source',
							]}
						/>
					</div>
					<Input type='textarea' id='query' label='Query' required />
					<Input
						type='checkbox'
						id='consent'
						label='I consent to being contacted about my query'
						required
					/>
					<div class='form-group'>
						<input type='submit' id='submit' value='Submit' />
					</div>
				</form>
				<div class='success-message' style='display: none;'>
					<h2>Thank you for contacting us!</h2>
					<p>
						We have received your submission. We will reach out as
						soon as possible.
					</p>
				</div>
			</div>
		</div>
	</section>
</PageLayout>

<script>
	window.onload = function () {
		const urlParams = new URLSearchParams(window.location.search);
		const submitStatus = urlParams.get('submit');

		const contactForm = document.querySelector(
			'#contactForm form'
		) as HTMLElement;
		const successMessage = document.querySelector(
			'#contactForm .success-message'
		) as HTMLElement;

		if (submitStatus === 'success') {
			// Hide the contact form and show the success message
			contactForm.style.display = 'none';
			successMessage.style.display = 'block';
		} else {
			// Show the contact form and hide the success message
			contactForm.style.display = 'flex';
			successMessage.style.display = 'none';
		}
	};
</script>

<style lang='less'>
	section {
		.container {
			#contactForm {
				margin: 0 auto;
				max-width: 700px;
				padding: 50px 25px;
				border-radius: var(--bdRadius);
				background-color: var(--lightPrimaryC);
				form {
					width: 100%;
					display: flex;
					flex-direction: column;
					gap: 25px;
					.form-row {
						display: grid;
						grid-gap: 25px 50px;
						grid-template-columns: repeat(
							auto-fit,
							minmax(250px, 1fr)
						);
					}
					input[type='submit'] {
						color: var(--accentC2);
						border: 2px solid var(--accentC2);
						background-color: transparent;
						padding: 8px 12px;
						border-radius: 10px;
						font-weight: 500;
						transition: 0.3s ease;
						&:focus,
						&:hover {
							background-color: var(--accentC2);
							color: var(--lightPrimaryC);
						}
					}
				}
				.success-message {
					color: var(--textC1);
					text-align: center;
					h2 {
						margin-bottom: 20px;
					}
				}
			}
		}
	}
</style>
