---
import { Picture } from '@astrojs/image/components';
import PlaceholderImage from '../PlaceholderImage.astro';

export interface Props {
	featured: Array<any>;
}

const { featured } = Astro.props;

const strapi_url = import.meta.env.VITE_STRAPI_URL;
---

<section id='featured'>
	<!--?xml version="1.0" encoding="UTF-8"?-->
	<svg
		class='shape_divider_1'
		xmlns='http://www.w3.org/2000/svg'
		viewBox='0 0 841.9 35.4'>
		<path d='m0,.5c136.4,22.9,276.6,34.9,419.5,34.9S704.6,23.2,841.9,0'
		></path>
	</svg>
	<img class='streamer_1' src='/images/decor/streamer_1.svg' alt='' />
	<div class='container'>
		<div class='streamer_2'>
			<img
				class='streamer_2A'
				src='/images/decor/streamer_2.svg'
				alt=''
			/>
			<img
				class='streamer_2B'
				src='/images/decor/streamer_2.svg'
				alt=''
			/>
		</div>
		<div class='featured'>
			{
				featured.map(item => {
					return (
						<a
							class='featured_item'
							href={item.link}
							target='_blank'>
							<img
								class='flourish_2 top'
								src='/images/decor/flourish_2.png'
								alt=''
							/>
							<div>
								{item.image.data ? (
									<Picture
										class='featured_img'
										src={
											strapi_url +
											item.image.data.attributes.url
										}
										alt={
											item.image.data.attributes
												.alternativeText || ''
										}
										aspectRatio={3 / 2}
										widths={[600]}
										sizes='(max-width: 599px) calc(100vw - 50px), (max-width: 1199px) calc((100vw - 300px) / 2)'
										formats={['avif', 'webp']}
									/>
								) : (
									<PlaceholderImage class='featured_img' />
								)}
								<div>
									<h2>{item.title}</h2>
									<p class='subtitle'>{item.subtitle}</p>
									<p class='description lc_4'>
										{item.description}
									</p>
								</div>
							</div>
							<img
								class='flourish_2 bottom'
								src='/images/decor/flourish_2.png'
								alt=''
							/>
						</a>
					);
				})
			}
		</div>
	</div>
</section>
<style lang='less'>
	@import '../../styles/variables.less';
	section#featured {
		overflow: hidden;
		background-color: var(--accentC1);
		position: relative;
		--accentC: var(--accentC1);
		&::after {
			position: absolute;
			content: '';
			background-image: url('/images/decor/separator_1.svg');
			background-repeat: repeat-x;
			background-size: 26px;
			filter: var(--accentC3Filter);
			width: 100%;
			height: 20px;
			bottom: 3px;
		}
		.shape_divider_1 {
			position: absolute;
			top: -2px;
			left: 50%;
			transform: translateX(-50%);
			width: 1420px;
			> path {
				fill: var(--primaryC);
			}
		}
		.streamer_1 {
			position: absolute;
			top: 20px;
			left: 50%;
			transform: translateX(-50%);
			width: 1350px;
			filter: var(--primaryFilter);
		}
		.container {
			width: 100%;

			.streamer_2 {
				position: relative;
				@media @s-nd {
					display: none;
				}
				.streamer_2A,
				.streamer_2B {
					position: absolute;
					top: 200px;
					width: 50px;
					filter: var(--primaryFilter);
				}
				.streamer_2A {
					left: -25px;
				}
				.streamer_2B {
					right: -25px;
					transform: scaleX(-1);
				}
			}
			.featured {
				width: 100%;
				padding: 350px 60px 200px 60px;
				display: grid;
				grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
				gap: 20px;
				@media @s-nd {
					padding: 350px 0 200px 0;
					position: relative;
					.flourish_2 {
						display: none;
					}
					&::before,
					&::after {
						position: absolute;
						content: '';
						width: 250px;
						height: 40px;
						left: 0;
						right: 0;
						margin: 0 auto;
						background-image: url('/images/decor/flourish_2.png');
						background-size: contain;
						background-repeat: no-repeat;
					}
					&::before {
						top: 285px;
					}
					&::after {
						transform: scale(-1);
						bottom: 135px;
					}
				}
				> .featured_item {
					position: relative;
					max-width: 450px;
					width: 100%;
					margin: 0 auto;
					.flourish_2.top {
						position: absolute;
						width: 50%;
						top: -50px;
						left: 25%;
					}
					.flourish_2.bottom {
						transform: scaleY(-1);
						position: absolute;
						width: 50%;
						bottom: -50px;
						left: 25%;
					}
					> div {
						border-radius: var(--bdRadius);
						overflow: hidden;
						height: 100%;
						position: relative;
						img {
							width: 100%;
							height: auto;
							display: block;
						}
						> div {
							text-align: center;
							background-color: var(--primaryC);
							color: var(--accentC);
							padding: 25px 25px;
							height: 100%;
							position: relative;
							padding-bottom: 25px;
							transition: transform 0.6s ease;
							h2 {
								font-size: 1.3em;
								margin-bottom: 10px;
							}
							p.subtitle {
								text-transform: uppercase;
								font-weight: 500;
								margin-bottom: 25px;
							}
							p.description {
								visibility: hidden;
								position: absolute;
								margin: 0 auto;
								left: 25px;
								right: 25px;
								opacity: 0;
								transition: opacity 0.4s ease 0.4s;
							}
						}
					}
					&:hover,
					&:focus {
						div > div {
							transform: translateY(calc(var(--lineHeight) * -4));
							.description {
								visibility: visible;
								opacity: 1;
							}
						}
					}
				}
			}
		}
	}
</style>
