---
export interface Props {
	tagline: string;
	metrics: Array<any>;
}

const { tagline, metrics } = Astro.props;
---

<section id='mural'>
	<div class='container'>
		<div class='image-wrapper'>
			<img
				alt=''
				src=''
				srcset=''
				sizes='(max-width: 599px) calc(100vw - 50px),
            (max-width: 1199px) calc(100vw - 100px),
            1100px'
			/>
		</div>
		<h1>{tagline}</h1>
		<div class='metrics'>
			{
				metrics.map(item => {
					return (
						<div>
							<p>{item.metric}</p>
							<p>{item.description}</p>
						</div>
					);
				})
			}
		</div>
		<img class='flourish_1' src='/images/decor/flourish_1.png' alt='' />
	</div>
</section>

<script>
	window.addEventListener('load', setMuralSource);
	window.addEventListener('resize', setMuralSource);
	function setMuralSource() {
		const mural = document.querySelector('#mural img') as HTMLImageElement;
		const screenWidth = window.innerWidth;

		if (screenWidth <= 599) {
			mural.src = '/images/home/mural-mobile-600w.png 600w';
			mural.srcset =
				'/images/home/mural-mobile-600w.png 600w, /images/home/mural-mobile-800w.png 800w, /images/home/mural-mobile-1000w.png 1000w';
		} else if (screenWidth <= 899) {
			mural.src = '/images/home/mural-tablet-1000w.png 1000w';
			mural.srcset =
				'/images/home/mural-tablet-1000w.png 1000w, /images/home/mural-tablet-1400w.png 1400w';
		} else {
			mural.src = '/images/home/mural-desktop-1200w.png 1200w';
			mural.srcset =
				'/images/home/mural-desktop-1200w.png 1200w, /images/home/mural-desktop-1600w.png 1600w, /images/home/mural-desktop-2000w.png 2000w';
		}
	}
</script>

<style lang='less'>
	@import '../../styles/variables.less';
	section#mural {
		padding-top: 10px;
		.container {
			.image-wrapper {
				position: relative;
				@media @s-d {
					padding-top: 88%;
				}
				@media @s-t {
					padding-top: 123%;
				}
				@media @s-m {
					padding-top: 164%;
				}
				img {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					object-fit: contain;
					opacity: 1;
					transition: 0.2s ease;
					&[src=''] {
						opacity: 0;
					}
				}
			}
			h1 {
				color: var(--accentC1);
				text-align: center;
				font-size: 2em;
				max-width: 800px;
				margin: 0 auto;
				@media @s-nd {
					font-size: 1.6em;
					margin-top: 25px;
				}
			}
			.metrics {
				max-width: 900px;
				margin: 50px auto;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-around;
				gap: 50px;
				text-align: center;
				color: var(--accentC1);

				> div {
					width: 250px;
					> p:first-child {
						font-size: 1.5em;
						font-weight: 600;
						margin-bottom: 10px;
					}
					> p:last-child {
						margin-top: 10px;
						font-size: 1.25em;
						font-weight: 500;
					}
				}
			}
			.flourish_1 {
				width: 40px;
				margin: 25px auto;
				display: block;
				filter: var(--accentC2Filter);
			}
		}
	}
</style>
