---
import Layout from './_Layout.astro';
---

<Layout>
	<section>
		<div class='container'>
			<div id='contactForm'>
				<div class='success-message'>
					<h2>Thank you for contacting us!</h2>
					<p>
						We have received your submission. We will reach out as
						soon as possible.
					</p>
				</div>
			</div>
		</div>
	</section>
</Layout>

<style lang='less'>
	section {
		.container {
			#contactForm {
				.success-message {
					color: var(--textC1);
					text-align: center;
					h2 {
						margin-bottom: 20px;
					}
				}
			}
		}
	}
</style>
