---
export interface Props {
	title: string;
	classes?: string[];
}

const { title, classes } = Astro.props;
import '../styles/global.less';
import '../styles/normalize.css';
import Header from '../components/global/Header.astro';
import Footer from '../components/global/Footer.astro';
---

<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='description' content='Astro description' />
		<meta
			name='keywords'
			content='Rural, Women, India, Development, Collective'
		/>
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<title>{title}</title>
	</head>
	<body class={'kmvs ' + classes.join(' ')}>
		<div class='wrapper'>
			<a
				class='skip-link screen-reader-text'
				href='#content'
				role='link'
				title='Skip to content'>
				Skip to content</a
			>
			<Header />
			<main id='content' tabindex='-1'>
				<slot />
			</main>
			<Footer />
		</div>
	</body>
</html>
<script>
	const skipLink = document.querySelector('.skip-link') as HTMLElement;
	skipLink.addEventListener('click', scrollToContent);
	function scrollToContent(event: Event) {
		event.preventDefault();
		const content = document.querySelector('#content') as HTMLElement;
		const offset = content.offsetTop;

		content.focus();

		window.scrollTo({
			top: offset,
			behavior: 'smooth',
		});
	}
</script>
<style lang='less'>
	body {
		min-height: 200vh;
		display: flex;
		flex-direction: column;
		.skip-link {
			position: fixed;
			width: max-content;
			padding: 10px 15px;
			background-color: var(--primaryC);
			outline: 2px solid var(--accentC2);
			color: var(--accentC2);
			border-radius: var(--bdRadius2);
			margin: 10px;
			box-shadow: var(--shadow1);
			font-weight: 500;
			transition: 0.2s ease;
			&:focus {
			}
			&:hover,
			&:focus {
				background-color: var(--accentC2);
				color: var(--primaryC);
			}
		}
	}
</style>
