---

---

<div id='AUI'>
	<button
		class='AUItoggle'
		aria-expanded='false'
		aria-label='Accessibility Menu Toggle'>
		<div class='AUIicon'>
			<img src='/images/components/AUI-1.png' alt='' />
			<img src='/images/components/AUI-2.png' alt='' />
		</div>
	</button>
	<div class='AUImenu' aria-label='Accessibility Menu'>
		<p class='screen-reader-text'>Size & Contrast</p>
		<div class='AUIcontrols'>
			<ul class='textSizing'>
				<li>
					<button
						class='sizeIncrease'
						title='Font Size Increase'
						aria-label='Font Size Increase'>
						<span aria-hidden='true'>A+</span>
					</button>
				</li>
				<li>
					<button
						class='sizeReset'
						title='Normal Font Size'
						aria-label='Normal Font Size'>
						<span aria-hidden='true' style='margin: 0 2px;'>A</span>
					</button>
				</li>
				<li>
					<button
						class='sizeDecrease'
						title='Font Size Decrease'
						aria-label='Font Size Decrease'>
						<span aria-hidden='true'>A-</span>
					</button>
				</li>
			</ul>
			<ul class='highContrast'>
				<li>
					<button
						class='darkTheme'
						title='High Contrast'
						aria-label='High Contrast'>
						<span aria-hidden='true'>A</span>
					</button>
				</li>
				<li>
					<button
						class='lightTheme'
						title='Normal Contrast'
						aria-label='Normal Contrast'>
						<span aria-hidden='true'>A</span>
					</button>
				</li>
			</ul>
		</div>
	</div>
</div>

<script>
	// keyboard focus function //
	document.addEventListener('DOMContentLoaded', event => {
		// get accessibility menu and toggle
		const accessibilityMenu = document.querySelector('#AUI');
		const AUItoggle = accessibilityMenu.querySelector('.AUItoggle');

		// toggle class and attribute on click
		AUItoggle.addEventListener('click', function () {
			this.getAttribute('aria-expanded') === 'true'
				? this.setAttribute('aria-expanded', 'false')
				: this.setAttribute('aria-expanded', 'true');
			accessibilityMenu.classList.toggle('open');
		});

		// add an event listener for loss of focus
		accessibilityMenu.addEventListener('focusout', function () {
			// delay the changing of attribute to check if focus shifted within the submenu or outside
			setTimeout(function () {
				if (!accessibilityMenu.contains(document.activeElement)) {
					AUItoggle.setAttribute('aria-expanded', 'false');
					accessibilityMenu.classList.remove('open');
				}
			}, 0);
		});

		// safari fallback for focusout
		document.addEventListener('click', function (event) {
			let isClickInside = accessibilityMenu.contains(
				event.target as Node
			);

			if (
				!isClickInside &&
				accessibilityMenu.classList.contains('open')
			) {
				AUItoggle.setAttribute('aria-expanded', 'false');
				accessibilityMenu.classList.remove('open');
			}
		});
	});
</script>

<script>
	document.addEventListener('DOMContentLoaded', function () {
		function getCookie(name) {
			var match = document.cookie.match(new RegExp(name + '=([^;]+)'));
			return match ? match[1] : null;
		}

		function setCookie(name, value) {
			var thirtyDays = 1000 * 60 * 60 * 24 * 30;
			var expireDate = new Date(new Date().valueOf() + thirtyDays);
			document.cookie =
				name +
				'=' +
				value +
				'; expires=' +
				expireDate.toUTCString() +
				'; path=/; SameSite=Strict';
		}

		function setFontSize(directive?) {
			var fontSize = parseInt(
				getComputedStyle(document.documentElement).getPropertyValue(
					'--fontSize'
				),
				10
			);
			if (directive === 'increase' && fontSize < 24) fontSize += 2;
			else if (directive === 'decrease' && fontSize > 12) fontSize -= 2;
			else fontSize = 18;
			setCookie('fontSize', fontSize);
			document.documentElement.style.setProperty(
				'--fontSize',
				fontSize + 'px'
			);
		}

		function setContrastStylesheet(add) {
			var siteUri =
				window.location.origin ||
				window.location.protocol +
					'//' +
					window.location.hostname +
					(window.location.port ? ':' + window.location.port : '');
			if (add) {
				var linkElement = document.createElement('link');
				linkElement.rel = 'stylesheet';
				linkElement.type = 'text/css';
				linkElement.href = siteUri + '/css/high-contrast.css';
				document.head.appendChild(linkElement);
			} else {
				var highContrastSheet = document.querySelector(
					'link[href*="high-contrast.css"]'
				);
				highContrastSheet && highContrastSheet.remove();
			}
		}

		document
			.querySelector('.textSizing .sizeIncrease')
			.addEventListener('click', function (e) {
				e.preventDefault();
				setFontSize('increase');
			});

		document
			.querySelector('.textSizing .sizeReset')
			.addEventListener('click', function (e) {
				e.preventDefault();
				setFontSize();
			});

		document
			.querySelector('.textSizing .sizeDecrease')
			.addEventListener('click', function (e) {
				e.preventDefault();
				setFontSize('decrease');
			});

		document
			.querySelector('.highContrast .darkTheme')
			.addEventListener('click', function (e) {
				e.preventDefault();
				document.documentElement.classList.add('contrast');
				setCookie('contrast', 1);
				setContrastStylesheet(true);
			});

		document
			.querySelector('.highContrast .lightTheme')
			.addEventListener('click', function (e) {
				e.preventDefault();
				document.documentElement.classList.remove('contrast');
				setCookie('contrast', 0);
				setContrastStylesheet(false);
			});

		if (getCookie('contrast') === '1') {
			document.documentElement.classList.add('contrast');
			setContrastStylesheet(true);
		} else if (getCookie('contrast') === '0') {
			document.documentElement.classList.remove('contrast');
			setContrastStylesheet(false);
		}

		if (getCookie('fontSize')) {
			document.documentElement.style.setProperty(
				'--fontSize',
				getCookie('fontSize') + 'px'
			);
		} else {
			var fontSize = getComputedStyle(
				document.documentElement
			).getPropertyValue('--fontSize');
			document.documentElement.style.setProperty('--fontSize', fontSize);
		}
	});
</script>

<style lang='less'>
	@import '../../styles/variables.less';
	#AUI {
		--accessibilityC: #ffba3c;
		--accessibilityFilter: invert(89%) sepia(17%) saturate(3753%)
			hue-rotate(327deg) brightness(103%) contrast(101%);
		position: fixed;
		right: -260px;
		transition: right 0.3s ease;
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 25px;
		z-index: 999;
		padding: 10px;
		background-color: var(--accentC2);
		border-radius: var(--bdRadius2) 0 0 var(--bdRadius2);
		@media @s-nm {
			top: 240px;
		}
		@media @s-m {
			bottom: 200px;
		}
		button {
			border: none;
			color: var(--textC1);
		}
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}
		&:focus-within,
		&.open {
			.AUItoggle {
				&:focus-visible {
					outline: 2px solid var(--accessibilityC);
				}
				.AUIicon {
					img {
						&:last-child {
							filter: var(--accessibilityFilter);
						}
					}
				}
			}
		}
		&.open {
			right: 0;
			.AUImenu {
				.AUIcontrols {
					visibility: visible;
					transition: visibility 0s ease 0s;
				}
			}
		}
		.AUItoggle {
			background-color: transparent;
			padding: 0;
			margin: 0;
			.AUIicon {
				position: relative;
				width: 40px;
				height: 40px;
				img {
					position: absolute;
					width: 100%;
					left: 0;
					top: 0;
					&:first-child {
						filter: var(--primaryFilter);
					}
					&:last-child {
						filter: var(--primaryFilter);
					}
				}
			}
		}
		.AUImenu {
			width: 240px;
			.AUIcontrols {
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				gap: 15px;
				visibility: hidden;
				transition: visibility 0s ease 0.5s;
				ul {
					display: flex;
					flex-direction: row;
					border: 2px solid var(--lightTint);
					border-radius: var(--bdRadius2);
					li:first-child {
						button {
							border-radius: var(--bdRadius2) 0 0 var(--bdRadius2);
						}
					}
					li:last-child {
						button {
							border-radius: 0 var(--bdRadius2) var(--bdRadius2) 0;
						}
					}
					button {
						padding: 8px 12px;
						font-weight: 500;
						background-color: var(--primaryC);
						&:hover,
						&:focus {
							position: relative;
							outline: 2px solid var(--accessibilityC);
						}
						&.darkTheme {
							background-color: #000000;
							color: var(--accessibilityC);
						}
					}
				}
			}
		}
	}
</style>
